

<div class="card">
    <div class="card-body">
        <h4>Update your details</h4>
        <div class="alert alert-info alert-dismissible " role="alert" *ngIf="formSubmitted">
            <strong>Updated  details successfully! </strong><a routerLink="/patient/{{patientId}}/details">Go back to my account page</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="registerForm" novalidate >

                    <div class="form-group">
                        <label> Name</label>
                        <input type="text" class="form-control" formControlName="userName" 
                        [ngClass]="{'is-invalid':userName?.errors && (userName?.touched || userName?.dirty), 'is-valid': userName?.valid}" />
                        <div class="invalid-feedback">
                            <strong>Name is required.</strong>
                        </div>
                    <div class="form-group">
                        <label>Password </label>
                        <input type="text" class="form-control" formControlName="password" 
                        [ngClass]="{'is-invalid':password.errors && (password.touched || password.dirty), 'is-valid': password.valid}" />
                        <div class="invalid-feedback">
                            <strong *ngIf="password.errors?.required">password is required.</strong>
                        </div>
                    </div>
                  
                    
                    </div>
                    <div class="form-group">
                        <label>Age </label>
                        <input type="number" class="form-control" formControlName="patientAge" 
                        [ngClass]="{'is-invalid':patientAge.errors && (patientAge.touched || patientAge.dirty), 'is-valid': patientAge.valid}" />
                        <div class="invalid-feedback">
                            <strong>patient Age is required.</strong>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label>Mobile Number </label>
                        <input type="number" class="form-control" formControlName="patientMobile" 
                        [ngClass]="{'is-invalid':patientMobile.errors && (patientMobile.touched || patientMobile.dirty), 'is-valid': patientMobile.valid}" />
                        <div class="invalid-feedback">
                            <strong>Mobile Number is required.</strong>
                        </div>
                    </div>
                        
                    

                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" class="form-control" formControlName="patientEmail" 
                        [ngClass]="{'is-invalid':patientEmail.errors && (patientEmail.touched || patientEmail.dirty), 'is-valid': patientEmail.valid}" />
                        <div class="invalid-feedback">
                            <strong>Email is required.</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Date of Birth</label>
                        <input type="date" class="form-control" formControlName="patientDOB" 
                        [ngClass]="{'is-invalid':patientDOB.errors && (patientDOB.touched || patientDOB.dirty), 'is-valid': patientDOB.valid}" />
                        <div class="invalid-feedback">
                            <strong>DOB is required.</strong>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" formControlName="address" 
                        [ngClass]="{'is-invalid':address.errors && (address.touched || address.dirty), 'is-valid': address.valid}" />
                        <div class="invalid-feedback">
                            <strong>address is required.</strong>
                        </div>
                    </div>
                    
                    
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Confirm</button>
                    <button class="btn btn-default" (click)="registerForm.reset()">Reset</button>
                    <a routerLink="/patient/{{patientId}}/details" class="btn btn-link">Cancel</a>

                </form> 
             </div>
        </div>
    </div>
</div>