<table>
    <tr>
      <td><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/spec.jpeg" >
        <div class="card-body">
          <a routerLink="/spectacles/add" class="btn btn-primary">Add Spectacles</a>
        </div>
      </div></td>

      <td><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/spec.jpeg" >
        <div class="card-body">
         
          <a routerLink="/spectacles/update" class="btn btn-primary">Update Spectacle</a>
        </div>
      </div></td>

      <td><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="assets/spec.jpeg" >
        <div class="card-body">
         
          <a routerLink="/spectacles/delete" class="btn btn-primary">See the available Spectacles list</a>
        </div>
      </div></td>
    </tr>
  </table>
