<div class="card">
    <div class="card-body">
        <h4>Book Appointment </h4>
        <div class="alert alert-info alert-dismissible " role="alert" *ngIf="formSubmitted">
            <!-- <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span> -->
              <!-- <span class="sr-only">Close</span> -->
            <!-- </button> -->
            <strong>Appointment Booked successfully! </strong><a routerLink="/appointment/{{patientId}}">Back to Login page</a>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form [formGroup]="registerForm" novalidate >
                    <div class="form-group">
                        <label>Date </label>
                        <input type="date" class="form-control" formControlName="appointmentDate" 
                        [ngClass]="{'is-invalid':appointmentDate.errors && (appointmentDate.touched || appointmentDate.dirty), 'is-valid': appointmentDate.valid}" />
                    </div>

                    <div class="form-group">
                        <label>Time </label>
                        <input type="time" class="form-control" formControlName="appointmentTime" 
                        [ngClass]="{'is-invalid':appointmentTime.errors && (appointmentTime.touched || appointmentTime.dirty), 'is-valid': appointmentTime.valid}" />
                    </div>
                    
                    <div class="form-group">
                        <label>Doctor Id</label>
                        <input type="text" class="form-control" formControlName="doctor" 
                        [ngClass]="{'is-invalid':doctor.errors && (doctor.touched || doctor.dirty), 'is-valid': doctor.valid}" />
                        </div>
                    

                    <!-- <div class="form-group">
                        <label>Patient Id</label>
                        <input type="text" class="form-control" formControlName="patient" 
                        [ngClass]="{'is-invalid':patient.errors && (patient.touched || patient.dirty), 'is-valid': patient.valid}" />
                    </div> -->
                    
                    <button type="submit" class="btn btn-primary" (click)="onSubmit()">Book</button>
                    <button class="btn btn-default" (click)="registerForm.reset()">Reset</button>
                    <a routerLink="/appointment/{{patientId}}" class="btn btn-link">Cancel</a>


                </form> 
             </div>
        </div>
    </div>
</div>
