<<<<<<< HEAD

  .card { background-color: rgba(245, 245, 245, 0.747);
  margin-top: 10px; }
=======
table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: larger;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(70, 15, 173, 0.15);
}
tr{
    background-color: #009879;
    color:lime;
    text-align: left;
}
>>>>>>> 70a03947fe1d56d333771e51e9bda5e65e24607a
