<table>

    <tr>
      <td>
        <div class="card text-white bg-danger mb-3" style="width: 18rem;">
          <img class="card-img-top" src="assets\doc.jpg" >
          <div class="card-body">
            <a routerLink="/adddoctor" class="btn btn-primary">Register a Doctor</a>
          </div>
        </div>
      </td>

      <td>
        <div class="card text-white bg-danger mb-3" style="width: 18rem;">
          <img class="card-img-top" src="assets\doc.jpg" >
          <div class="card-body">
            <a routerLink="/viewAlldoctor" class="btn btn-primary">See the available Doctors</a>
          </div>
        </div>
      </td>
  </table>
