
<table>
    <tr>
      <td><div class="card text-white bg-danger mb-3" style="width: 18rem;height: 25rem;;">
        <img class="card-img-top" src="assets/test.jpeg" style="height: 180%;">
        <div class="card-body">
          <a routerLink="/createTest" class="btn btn-primary">Add a test</a>
        </div>
      </div></td>

      <td><div class="card text-white bg-danger mb-3" style="width: 18rem;height: 25rem;;">
        <img class="card-img-top" src="assets/test.jpeg" style="height: 180%;">
        <div class="card-body">
          <a  routerLink="/updateTest" class="btn btn-primary">update test</a>
        </div>
      </div></td>

      <td><div class="card text-white bg-danger mb-3" style="width: 18rem;height: 25rem;;">
        <img class="card-img-top" src="assets/test.jpeg" style="height: 180%;">
        <div class="card-body">
          <a  routerLink="/viewTest" class="btn btn-primary">view test</a>
        </div>
      </div></td>
    </tr>
  </table>