

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

<div class="aboutus-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus">
                        <h2 class="aboutus-title">About Us</h2>
                        <p class="aboutus-text">We are a Super Specialty Eye Hospital based out of Bangalore</p>
                        <p class="aboutus-text">A super speciality Ophthalmic Hospital recognized by patients and staff for excellence and compassion in service and care.</p>
                        <a class="aboutus-more" >read more</a>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="aboutus-banner">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQS3SKM73F9GEH9ZO7VQuIlgFXVDSpsEerarw&usqp=CAU" alt="">
                    </div>
                </div>
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="feature">
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Mission</h4>
                                    <p>We will provide quality eye care that is state-of-art, integrated, accessible, affordable, and appropriate to the community's needs</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Our Core Values</h4>
                                    <p>Integrity: We are committed to the highest ethical standards in our conduct.
                                        Commitment: We share the mission and vision of the hospital and will do our part to achieve them.
                                        Teamwork: We will foster a work environment of collaboration and partnership, trust and mutual respect.
                                        Openness: We will be receptive to ideas, suggestions and feedback so as to continously improve and innovate</p>
                                </div>
                            </div>
                        </div>
                        <div class="feature-box">
                            <div class="clearfix">
                                <div class="iconset">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </div>
                                <div class="feature-content">
                                    <h4>Facilities & Services</h4>
                                    <ol>
                                        <li>Cataract Surgery</li>
                                        <li>Keratoconus</li>
                                        <li>Contact Lens Fitting & Dispensing</li>
                                        <li>Dry Eye and Computer Vision Clinic</li>
                                        <li>Glaucoma</li>
                                        <li>Vitreo Retinal Services</li>
                                        <li>Uvea and Ocular Inflammation</li>
                                        <li>Neuro Ophthalmology</li>
                                        <li>Clinical Lab Services</li>
                                        <li>Emergency Care</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>